{% extends 'base.html.twig' %}

{% block body %}
    <h1>Task creation</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
    <span class="btn-group">
        <input type="submit" value="Create" class="btn btn-primary"/>
        <a href="{{ path('task_index') }}" class="btn btn-default">Back to the list</a>
    </span>

    {{ form_end(form) }}
{% endblock %}
