{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/signin.css') }}" />
{% endblock %}

{% block body %}
    <form action="{{ path('login_check') }}" method="post" class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" class="form-control" placeholder="Username" name="_username" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password" name="_password" required>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
    </form>
{% endblock %}
